@model Entidades.CausaAusentismo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de que desea eliminarlo?</h3>
<div>
    <h4>Causa Ausentismo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remunerado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remunerado)
        </dd>
        <dt>
            Descuenta Domingo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescuentaDomingo)
        </dd>
        <dt>
            Ítem
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdItem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-default" asp-action="Index">Volver A La Lista</a>
    </form>
</div>
