@model Entidades.CausaAusentismo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Causa Ausentismo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remunerado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remunerado)
        </dd>
        <dt>
            Descuenta Domingo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescuentaDomingo)
        </dd>
        <dt>
            Ítem
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdItem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-default" asp-action="Index">Volver A La Lista</a>
</div>
